:root {
    --panel-width: 320px;
    --panel-offset: var(--panel-width);
}

.gospelLibrary-RHHtv {
    background-color: var(--white);
    background-color: var(--background-primary, var(--white));
    display: grid;
    grid-template-columns: 100% 320px;
    grid-template-columns: 100% var(--panel-offset);
    grid-template-rows: auto 1fr auto;
    min-height: calc(100vh - 44px);
}

.gospelLibrary-RHHtv > * {
        grid-column: 1 / span 1;
        grid-row: 2 / span 1;
    }

.gospelLibrary-RHHtv .libraryHeader-isS0X {
        grid-row: 1 / span 1;
        position: sticky;
        inset-block-start: 0px;
    }

.gospelLibrary-RHHtv .contentWrapper-BLvxk {
        transition: transform 400ms cubic-bezier(.4, 0, .2, 1);
        grid-template-columns: 320px 100%;
        grid-template-columns: var(--panel-width) 100%;
        -webkit-padding-after: 150px;
                padding-block-end: 150px;
        grid-column: 1 / 1;
        grid-row: 2 / span 1;
    }

@media (min-width: 60em) {

.gospelLibrary-RHHtv .contentWrapper-BLvxk {
            width: var(--breakWidth960);
            max-width: calc(100% - 320px - var(--spacing32));
            max-width: calc(100% - var(--panel-width) - var(--spacing32));
            margin-inline: auto;
    }
        }

.gospelLibrary-RHHtv .breadCrumbs-kge9Y {
        padding-inline: 1rem;
    }

.gospelLibrary-RHHtv .title-wAwWg {
        padding: 1rem 1rem;
    }

.libraryFooter-xV8Ge {
    transition: transform 400ms cubic-bezier(.4, 0, .2, 1);
    grid-column: 1 / span 1;
    grid-row: 3 / span 1;
}

.sidePanelManager-nxBt7 {
    grid-column: 2 / span 1;
    grid-row: 2 / span 2;
    transition: transform 400ms cubic-bezier(.4, 0, .2, 1);
    z-index: 25;
    position: sticky;
    inset-block-start: 44px;
}

.sidePanelManagerOpen-aTdwR {
    --inline-end-panel-offset: calc(var(--panel-offset) * -1);
    z-index: 25;
}

[dir="rtl"] .sidePanelManagerOpen-aTdwR {
        --inline-end-panel-offset: var(--panel-offset);
    }

@media (min-width: 60em) and (max-width: 62.999em) {

.sidePanelManagerOpen-aTdwR {
        --annotation-toolbar-offset: calc(-7/12 * (100vw - 960px) + 28px);
}

        [dir="rtl"] .sidePanelManagerOpen-aTdwR {
            --annotation-toolbar-offset: calc(7/12 * (100vw - 960px) - 28px);
        }
    }

@media (min-width: 60rem) {

.sidePanelManagerOpen-aTdwR {
        --centered-offset: calc(var(--inline-end-panel-offset, 0px) / 2);
        --content-title-offset: var(--centered-offset);
        --content-body-offset: var(--centered-offset);
        --next-nav-offset: var(--inline-end-panel-offset);
        --mobile-nav-offset: var(--inline-end-panel-offset);
        --audio-button-offset: var(--inline-end-panel-offset);

}

        .sidePanelManagerOpen-aTdwR .libraryFooter-xV8Ge {
            transform: translateX(0px);
            transform: translateX(var(--content-body-offset, 0px));
        }
    }

@media (min-width: 80rem) {

.sidePanelManagerOpen-aTdwR {
        --centered-offset: calc((var(--inline-start-panel-offset, 0px) + var(--inline-end-panel-offset, 0px)) / 2);
        --content-title-offset: var(--centered-offset);
        --content-body-offset: var(--centered-offset);
        --icon-group-start-offset: var(--inline-start-panel-offset);
        --prev-nav-offset: var(--inline-start-panel-offset);

}


        .sidePanelManagerOpen-aTdwR .libraryFooter-xV8Ge {
            transform: translateX(0px);
            transform: translateX(var(--content-body-offset, 0px));
        }
    }

.sidePanelManagerOpen-aTdwR .contentWrapper-BLvxk {
        transform: translateX(0px);
        transform: translateX(var(--content-body-offset, 0px));
    }

.sidePanelManagerOpen-aTdwR .sidePanelManager-nxBt7 {
        transform: translateX(0px);
        transform: translateX(var(--inline-end-panel-offset, 0px));
    }

.sidePanelMask-RCL6S[class] {
    z-index: 1;
}

.narrow-UbWCW {
    margin: var(--spacing60) 5%;
	position: relative;
}

@media (min-width: 37.5em){

.narrow-UbWCW {
        margin: var(--spacing60) 18%;
}
    }

.full-PZE0K {
    margin: var(--spacing60) 5%;
	position: relative;
}

@media (min-width: 60em) {

.full-PZE0K {
        margin: var(--spacing60) 10%;
}
    }

.bleed-iWYCp {
    margin: var(--spacing60) 0;
	position: relative;
}

.narrowTop-r75Nu {
    margin: var(--spacing20) 5% var(--spacing60) 5%;
	position: relative;
}

@media (min-width: 60em) {

.narrowTop-r75Nu {
        margin: var(--spacing20) auto var(--spacing60);
        max-width: var(--breakWidth960);
}
    }

.narrowReader-zbLBA {
	padding: 0 2rem var(--spacing64);
	position: relative;
}

@media (min-width: 46em) {

.narrowReader-zbLBA {
        padding: 0 4rem var(--spacing16);
}
    }

@media print{

.narrowReader-zbLBA {
        padding: 0;
}
    }

@media (min-width: 0em) and (max-width: 24.999em) {
    .full-PZE0K {
        margin: var(--spacing40) 5%;
    }
}

.LibraryHeader-cDhKd {
    padding: var(--spacing16) var(--spacing24);
    font-size: var(--fontSize14);
    -webkit-border-after: 1px solid var(--grey10);
            border-block-end: 1px solid var(--grey10);
    -webkit-border-after: 1px solid var(--border-primary, var(--grey10));
            border-block-end: 1px solid var(--border-primary, var(--grey10));
    background: var(--white);
    background: var(--background-primary, var(--white));
    height: 44px;
    z-index: 20;
    display: flex;
    align-items: center;
}

.LibraryHeader-cDhKd .link-CWkpa {
        animation: appear-Xsd5D 1s ease;
        color: var(--info40);
        color: var(--text-link, var(--info40));
        text-decoration: none;
        transition: color 0.3s ease;
        white-space: nowrap;
    }

.LibraryHeader-cDhKd .link-CWkpa a {
            color: inherit;
        }

.LibraryHeader-cDhKd .link-CWkpa:empty {
            background: var(--grey5);
            background: var(--background-secondary, var(--grey5));
            background-size: 22px;
            background-position: 0 0;
            height: 22px;
            width: 10vw;
            position: absolute;
        }

@media (min-width: 37.5em) and (max-width: 59.999em) {

.LibraryHeader-cDhKd .link-CWkpa:empty {
                width: 30vw;
        }
            }

@media (min-width: 0em) and (max-width: 37.499em) {

.LibraryHeader-cDhKd .link-CWkpa:empty {
                width: 60vw;
        }
            }

.LibraryHeader-cDhKd > *:not(:first-child) {
        -webkit-margin-start: var(--spacing16);
                margin-inline-start: var(--spacing16);
    }

.LibraryHeader-cDhKd .link-CWkpa:not(:first-child)::before {
            content: '';
            -webkit-border-start: 1px solid
                var(--grey10);
                    border-inline-start: 1px solid
                var(--grey10);
            -webkit-border-start: 1px solid
                var(--border-primary, var(--grey10));
                    border-inline-start: 1px solid
                var(--border-primary, var(--grey10));
            -webkit-padding-end: var(--spacing16);
                    padding-inline-end: var(--spacing16);
        }

.LibraryHeader-cDhKd .inactiveLink-EYR9Y {
        color: var(--black);
        color: var(--text-primary, var(--black));
    }

.LibraryHeader-cDhKd .inactiveLink-EYR9Y:hover {
            text-decoration: none;
        }

.LibraryHeader-cDhKd .bookmarkManager-a8xro {
        -webkit-margin-start: auto;
                margin-inline-start: auto;
    }

.LibraryHeader-cDhKd .iconGroupEnd-oiYO7 {
        display: flex;
        gap: var(--spacing16);
        -webkit-margin-start: auto;
                margin-inline-start: auto;
    }

.LibraryHeader-cDhKd .iconGroupEnd-oiYO7 .activePanel-fMasL[class] {
            background-color: var(--blue25);
            background-color: var(--accent, var(--blue25));
            color: var(--white);
            color: var(--background-primary, var(--white));
            transition: background-color .3s;
        }

.LibraryHeader-cDhKd .iconGroupEnd-oiYO7 .activePanel-fMasL[class]:hover {
                background-color: var(--blue30);
                background-color: var(--accent-focus, var(--blue30));
                color: var(--white);
                color: var(--background-primary, var(--white));
            }

@keyframes appear-Xsd5D {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.pipe-Zdk_W {
    -webkit-border-start: 1px solid var(--grey10);
            border-inline-start: 1px solid var(--grey10);
    -webkit-border-start: 1px solid var(--border-primary, var(--grey10));
            border-inline-start: 1px solid var(--border-primary, var(--grey10));
    height: 28px;
}

.studySetsButton-kdxyM[class][class] {
    border-radius: 30px;
    color: var(--grey90);
    color: var(--icon-primary, var(--grey90));
    min-height: 0;
    min-height: initial;
    padding-inline: var(--spacing8);
}

.studySetsButton-kdxyM.noActiveSet-Ix634[class][class] {
        min-width: 2rem;
        padding: 0; 
    }

.studySetsButton-kdxyM.noActiveSet-Ix634[class][class] div {
            display: none;
        }

.studySetsButton-kdxyM[class][class] svg {
        font-size: 1.5rem;
    }

.studySetsButton-kdxyM[class][class] div {
        font-size: var(--fontSize14);
        max-width: 8rem;
        overflow: hidden;
        -webkit-padding-start: var(--spacing4);
                padding-inline-start: var(--spacing4);
        text-overflow: ellipsis;
        white-space: nowrap;
    }

@media (max-width: 46em) {

    .studySetsButton-kdxyM[class][class] {
        border-radius: 50%;
        min-width: 2rem;
        padding: 0;
}

        .studySetsButton-kdxyM[class][class] div {
            display: none;
        }   
    }

.header-Bll3P {
    padding: 2vh 1vw;
}

.title-hzw20,
.subtitle-i_2a4 {
    font-weight: var(--fontWeightNormal);
    margin: 0;
}

.subtitle-i_2a4 {
    font: var(--fontWeightNormal) 0.95em/1 var(--serif);
}

.pageTitle-puFyl {
    font-size: var(--fontSize36);
    line-height: 1.2em;
    font-family: var(--serif);
    display: block;
    text-align: center;
    -webkit-margin-after: var(--spacing24);
            margin-block-end: var(--spacing24);
}

@media (min-width: 0em) and (max-width: 37.499em) {

.pageTitle-puFyl {
        font-size: var(--fontSize28);
}
    }

.articleBody-hAT2l {
    line-height: 1.4;
}

.libraryGridLayout-AAbjO {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: auto;
    grid-column-gap: var(--spacing16);
    grid-row-gap: var(--spacing32);
    padding-inline: var(--spacing16);
}

@media (min-width: 0em) and (max-width: 37.499em) {

.libraryGridLayout-AAbjO {
        grid-template-columns: repeat(3, 1fr);
}
    }

@media (min-width: 37.5em) and (max-width: 81.999em) {

.libraryGridLayout-AAbjO {
        grid-template-columns: repeat(4, 1fr);
}
    }

.sectionSpacing-uu49s[class] {
    -webkit-margin-before: var(--spacing40);
            margin-block-start: var(--spacing40);
}

.sectionSpacing-uu49s[class]:first-child {
        -webkit-margin-before: var(--spacing32);
                margin-block-start: var(--spacing32);
    }

/* Tile styles */

.tile-P903U {
    /* Parent grid has 6 columns */
    grid-column: span 2;
}

@media (min-width: 0em) and (max-width: 37.499em) {

.tile-P903U {
        /* Parent grid has 3 columns */
        grid-column: span 3;
}
    }

@media (min-width: 37.5em) and (max-width: 81.999em) {

.tile-P903U {
        /* Parent grid has 4 columns */
        grid-column: span 2;
}
    }

.spanAllColumns-F0eqr[class] {
    grid-column: span 6;
}

@media (min-width: 0em) and (max-width: 37.499em) {

.spanAllColumns-F0eqr[class] {
        /* Parent grid has 3 columns */
        grid-column: span 3;
}
    }

@media (min-width: 37.5em) and (max-width: 81.999em) {

.spanAllColumns-F0eqr[class] {
        /* Parent grid has 4 columns */
        grid-column: span 4;
}
    }

.search-Qzo2e {
    position: relative;
}

.search-Qzo2e input {
        padding-block: var(--spacing8);
        height: 40px;
    }

@media (min-width: 0em) and (max-width: 37.499em) {

.search-Qzo2e {
        /* Parent grid has 3 columns */
        grid-column: span 3;
}
    }

@media (min-width: 37.5em) and (max-width: 81.999em) {

.search-Qzo2e {
        /* Parent grid has 4 columns */
        grid-column: span 2;
}
    }

@media (min-width: 82em) {

.constrained-eSnIM {
        /* Parent grid has 4 columns */
        width: 50%;
}
    }

/* Portrait styles */

.portrait-jkaM1 {
    display: block;
    color: var(--black);
    color: var(--text-primary, var(--black));
    text-decoration: none;
    cursor: pointer;
    position: relative;
}

.portrait-jkaM1 img::before {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        background: var(--fallbackImage);
    }

.portrait-jkaM1:hover {
        color: var(--black);
        color: var(--text-primary, var(--black));
        text-decoration: none;
    }

@media (min-width: 0em) and (max-width: 37.499em) {

.portrait-jkaM1 {
        /* Parent grid has 3 columns */
        grid-column: span 1;
}
    }

@media (min-width: 37.5em) and (max-width: 81.999em) {

.portrait-jkaM1 {
        /* Parent grid has 4 columns */
        grid-column: span 1;
}
    }

.placeholder-Khd4m {
    position: relative;
    background: var(--grey5);
    background: var(--background-secondary-accent, var(--grey5));
    background: var(--fallbackImage);
}

.portraitImg-x_h2h {
    aspect-ratio: 200 / 267;
    object-fit: cover;
}

.textContainer-zZGvN {
    padding: 0 var(--spacing4);
}

.portraitTitle-ERzeR {
    text-align: center;
    font-weight: var(--fontWeightLight);
    display: block;
    font-size: var(--fontSize14);
    line-height: var(--lineHeight);
    -webkit-margin-before: var(--spacing8);
            margin-block-start: var(--spacing8);
}

@media (min-width: 82em) {

.portraitTitle-ERzeR {
        -webkit-margin-before: var(--spacing16);
                margin-block-start: var(--spacing16);
}
    }

[data-aid-version] img {
    width: 100%;
    height: auto;
}

.imageWrapper-wTPPD {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
}

p .imageWrapper-wTPPD {
        display: inline-grid;
}

.imageWrapper-wTPPD > * {
        grid-area: 1 / 1;
    }

.imageWrapper-wTPPD > *:first-child {
            z-index: 2;
        }

.imageWrapper-wTPPD img {
        width: 100%;
        height: auto;
    }

.loadImageItem-u5D4D {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
    border: 1px solid var(--grey5);
    cursor: pointer;
}

p .loadImageItem-u5D4D {
        display: inline-grid;
}

p .loadImageItem-u5D4D img {
            height: 1em !important;
        }

.loadImageItem-u5D4D .container-W4jed {
        display: flex;
        justify-items: center;
        align-items: center;
        -webkit-margin-after: var(--spacing32);
                margin-block-end: var(--spacing32);
        grid-area: 1 / 1;
        padding: var(--spacing20);
        z-index: 1;
        color: var(--text120);
    }

.loadImageItem-u5D4D .container-W4jed .innerFlex-R9N_u {
            display: flex;
            margin: 0 var(--spacing32);
        }

.loadImageItem-u5D4D .container-W4jed .innerFlex-R9N_u .i18nString-raclU {
                color: var(--text120);
                color: var(--text-primary, var(--text120));
                font-weight: var(--fontWeightBold);
                -webkit-margin-end: var(--spacing8);
                        margin-inline-end: var(--spacing8);
            }

.loadImageItem-u5D4D .container-W4jed .innerFlex-R9N_u .title-RrK9J {
                color: var(--info40);
                color: var(--text-link, var(--info40));
                font-style: italic;
            }

.loadImageItem-u5D4D .container-W4jed svg {
            color: var(--text120);
            color: var(--text-primary, var(--text120));
            align-self: flex-start;
            -webkit-margin-end: var(--spacing16);
                    margin-inline-end: var(--spacing16);
        }

.loadImageItem-u5D4D img {
        -webkit-margin-after: 0 !important;
                margin-block-end: 0 !important;
        height: auto !important;
        width: 100% !important;
    }

.loadImageItem-u5D4D img {
        background-clip: content-box;
        background-color: var(--grey2);
        background-color: var(--background-secondary, var(--grey2));
        display: inline-block; /* override margin from the global-template css. */
        grid-area: 1 / 1;
        position: relative;
    }

/* The icon class comes from the content, it helps us know that this is a small centered image. */

.loadImageItem-u5D4D.icon {
        width: 100%;
    }

.loadImageItem-u5D4D.icon .container-W4jed {
            align-content: center;
            justify-content: center;
            margin: 0;
            padding: 0;
            padding: initial;
        }

.loadImageItem-u5D4D.icon .container-W4jed .innerFlex-R9N_u {
                flex-direction: column;
            }

.loadImageItem-u5D4D.icon .container-W4jed .innerFlex-R9N_u .i18nString-raclU {
                    color: var(--info40);
                    color: var(--text-link, var(--info40));
                }

.loadImageItem-u5D4D.icon .container-W4jed .innerFlex-R9N_u .title-RrK9J {
                    color: var(--text120);
                    color: var(--text-primary, var(--text120));
                    font-style: italic;
                }

.loadImageItem-u5D4D.icon .container-W4jed svg {
                align-self: center;
                color: var(--info40);
                color: var(--text-link, var(--info40));
                margin: 0;
                -webkit-margin-end: 0;
                        margin-inline-end: 0;
            }

.loadImageItem-u5D4D.icon img {
            padding-block: 0px;
        }

.isAssociatedMedia-Dguha {
    background-color: transparent;
    background-color: initial;
    border: none;
    color: var(--info40);
    color: var(--text-link, var(--info40));
    cursor: pointer;
    display: flex;
    align-items: center;
    padding: var(--spacing16) var(--spacing16) 0 0;
}

.isAssociatedMedia-Dguha .i18nString-raclU {
        color: var(--info40);
        color: var(--text-link, var(--info40));
    }

.isAssociatedMedia-Dguha > svg {
        -webkit-margin-end: var(--spacing8);
                margin-inline-end: var(--spacing8);
    }

.loading-htMtt {
    inset-block-start: 0;
    inset-inline-start: 0;
}

@media print {
    .loadImageItem-u5D4D {
        display: none;
    }
}

#app .listTile-WHLxI[class][class] {
    color: var(--text120);
    color: var(--text-primary, var(--text120));
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#app .listTile-WHLxI[class][class] h6:first-of-type {
        color: var(--red30);
        color: var(--accent, var(--red30));
    }
#app .listTile-WHLxI[class][class] h4 {
        color: var(--text120);
        color: var(--text-primary, var(--text120));
    }
#app .listTile-WHLxI[class][class]:hover h4 {
        color: var(--info40);
    }
#app .listTile-WHLxI[class][class] hr {
        display: block;
    }
#app .listTile-WHLxI[class][class] > div > div {
        min-height: 0;
        min-height: initial;
    }
#app .listTile-WHLxI[class][class] > div > div > div:not(:first-child) > div {
            color: var(--text120);
            color: var(--text-primary, var(--text120));
        }

.heading-Vx_DR[class] {
    color: var(--black);
    color: var(--text-primary, var(--black));
}

.mask-N3l_W {
    position: absolute;
    background: rgba(13, 15, 16, 0);
    height: 100%;
    inset: 0;
    pointer-events: none;
    transition: background-color 400ms cubic-bezier(0.4, 0, 0.2, 1);
    z-index: 30;
}

.mask-N3l_W.active-QSyzT {
        background: rgba(13, 15, 16, 0.5);
        pointer-events: auto;
    }

.mask-N3l_W + div {
        display: none;
    }

@media print {
    .mask-N3l_W {
        display: none;
    }
}

.notifications-AiKcn {
    height: -moz-fit-content;
    height: fit-content;
    inset-block-start: calc(44px + var(--spacing8)); /* header height + spacing */
    -webkit-margin-before: var(--spacing8);
            margin-block-start: var(--spacing8);
    margin-inline: auto var(--spacing8);
    max-width: 31rem;
    position: sticky;
    width: calc(100vw - var(--spacing32));
    z-index: 40;
}

.layout-q7AFU {
    display: flex;
    flex-direction: column;
    min-height: 16rem;
}

.title-okMO_ {
    -webkit-padding-after: var(--spacing16);
            padding-block-end: var(--spacing16);
}

.contentContainer-_xJou {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    flex-shrink: 0;
}

.contentContainer-_xJou .image-O6Jgo {
        align-self: flex-start;
        -webkit-padding-end: var(--spacing16);
                padding-inline-end: var(--spacing16);
    }

.contentContainer-_xJou .content-ArxIM {
        align-items: flex-start;
        align-self: stretch;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
    }

.contentContainer-_xJou .content-ArxIM .description-K3SQs {
            -webkit-margin-after: var(--spacing16);
                    margin-block-end: var(--spacing16);
        }

.contentContainer-_xJou .content-ArxIM .buttonsBar-jf2B4 {
            display: flex;
            flex-wrap: wrap;
            justify-content: flex-end;
            align-self: flex-end;
        }

.contentContainer-_xJou .content-ArxIM .buttonsBar-jf2B4 > * {
                -webkit-margin-start: var(--spacing16);
                        margin-inline-start: var(--spacing16);
                -webkit-margin-before: var(--spacing8);
                        margin-block-start: var(--spacing8);
            }

.navButtonsBar-elFnz {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    -webkit-padding-before: var(--spacing16);
            padding-block-start: var(--spacing16);
}

.navButtonsBar-elFnz .navigationButtons-SIfXY {
        width: auto;
        flex-grow: 0;
    }

.sidePanel-epabC {
    -webkit-border-end: none;
            border-inline-end: none;
    max-height: calc(100vh - 44px);
    height: calc(100vh - 44px);
    inset-block-start: 44px;
    position: sticky;

    /* dvh doesn't work from some mobile browsers */
    /* examples ( < iOS 15 and < chrome 108 for Anadorid ) */
}

@supports(height: 100dvh) {

.sidePanel-epabC {
        max-height: calc(100dvh - 44px); /* the dvh is necessary */
        height: calc(100dvh - 44px); /* the dvh ensures content at the bottom of a panel is visible in mobile when the browser bar is visible. */
}
    }

/* CSS specific to iOS devices */

@supports (-webkit-touch-callout: none) {
    .sidePanel-epabC.closed-LZcGp, .floatingPanels-rVdYZ.closed-LZcGp {
        display: none;
    }
}

.floatingPanels-rVdYZ {
    display: grid;
    grid-template-columns: 320px 320px;
    pointer-events: none;
}

.floatingPanels-rVdYZ > * {
        pointer-events: auto;
    }

@media print {
    .sidePanel-epabC {
        display: none;
    }

    .floatingPanels-rVdYZ {
        display: none;
    }
}

.sidePanel-sfJHO {
    background: var(--grey2);
    background: var(--background-secondary, var(--grey2));
    border: 1px solid var(--grey10);
    border: 1px solid var(--border-primary, var(--grey10));
    border-block: none;
    display: flex;
    flex-direction: column;
    height: 100vh;
    height: var(--overlay-content-height, 100vh);
    position: sticky;
    transform: scale(1);
    width: 320px;

    /* dvh doesn't work from some mobile browsers */
    /* examples ( < iOS 15 and < chrome 108 for Android ) */
}

@supports(height: 100dvh) {

.sidePanel-sfJHO {
        height: 100dvh;
        height: var(--overlay-content-height, 100dvh); /*the dvh is necessary to ensure content at the bottom of a panel shows up in certain cases in mobile when the browser bar is visible */
}
    }

@media print {
    .sidePanel-sfJHO {
        display: none;
    }
}

.panelContent-AXjYT {
    display: flex;
    flex-direction: column;
    flex: 1 0;
    overflow: auto;
    overscroll-behavior: contain;
    background-color: var(--grey2);
    background-color: var(--background-primary, var(--grey2));
    scrollbar-color: auto auto;
    scrollbar-color: var(--scrollbar-thumb-primary, auto) var(--background-primary, auto);
}

.webkitScrollbar-GFaT3::-webkit-scrollbar {
        width: 14px;
    }

.webkitScrollbar-GFaT3::-webkit-scrollbar-button {
        background-color: auto;
    }

.webkitScrollbar-GFaT3::-webkit-scrollbar-track {
        background-color: var(--grey2);
        background-color: var(--background-primary, var(--grey2));
    }

.webkitScrollbar-GFaT3::-webkit-scrollbar-thumb {
        background-color: var(--grey10);
        background-color: var(--scrollbar-thumb-primary, var(--grey10));
        outline: 1px solid var(--grey10);
        outline: 1px solid var(--scrollbar-thumb-primary, var(--grey10));
    }

.webkitScrollbar-GFaT3::-webkit-scrollbar-thumb:hover {
            background-color: var(--grey20);
            background-color: var(--scrollbar-thumb-secondary, var(--grey20));
        }

/* Header */
.sidePanelHeader-HjxsR {
    flex-shrink: 0;
}
.headerTitle-riZZ_[class] {
    color: var(--text120);
    color: var(--text-primary, var(--text120));
}
.headerSpace-cci_Y {
    width: var(--spacing24);
}

.panelHeader-gKRHQ {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 0 var(--spacing8);
    inset-block-start: 0;
    height: 44px;
    width: 100%;
    background: var(--white);
    background: var(--background-primary, var(--white));
    -webkit-border-after: 1px solid var(--grey10);
            border-block-end: 1px solid var(--grey10);
    -webkit-border-after: 1px solid var(--border-primary, var(--grey10));
            border-block-end: 1px solid var(--border-primary, var(--grey10));
    text-align: center;
    line-height: var(--lineHeightLoose);
    font-family: var(--sans);
    font-size: var(--fontSize14);
    color: var(--text120);
    color: var(--text-primary, var(--text120));
    z-index: 20;
    /* transform: scale(1); */
}
@media print {
    .panelHeader-gKRHQ {
        display: none;
}
    }

.truncatedText-HOrGJ {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-line-clamp: var(--max-lines, 1);
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.noInternetRelatedContent-k5JxJ {
    font-family: var(--sans);
    padding: 11rem 2rem 2rem;
    text-align: center;
}

.noInternetRelatedContentTitle-EaB0G {
    font-weight: 600;
    margin: 0.4em;
}

.noInternetRelatedContentText-Zc542 {
    font-size: var(--fontSize14);
    line-height: 1.4;
    margin: 0;
}

.floatingPanel-D6P9Q {
    height: calc(100vh - 44px);
    inset-block-start: 44px;
    z-index: 25;
    grid-column: 1 / span 1;
    grid-row: 1 / span 1;
    transition: transform 400ms cubic-bezier(.4, 0, .2, 1);

    /* dvh doesn't work from some mobile browsers */
    /* examples ( < iOS 15 and < chrome 108 for Anadorid ) */
}

@supports(height: 100dvh) {

.floatingPanel-D6P9Q {
        height: calc(100dvh - 44px);
}
    }

.slideIn-ZdpsW {
    grid-column: 2 / span 1;
    transform: translateX(-320px);
}

.slideIn-ZdpsW.offScreen-ayhu7 {
        transform: translateX(0);
    }

.associatedmedia-qHJ7v figure {
    margin: 0px var(--spacing12) var(--spacing16);
    font-family: var(--sans);
}

.associatedmedia-qHJ7v figure:first-child {
        -webkit-margin-before: var(--spacing10);
                margin-block-start: var(--spacing10);
    }


    .PanelPlatformFooter-DeXJM platform-footer {
        display: block;
    }


/*# sourceMappingURL=library.12b82e095fe02c3e8ae4.css.map*/