.viewContent-buGHE[class] {
    color: var(--text120);
    color: var(--text-primary, var(--text120));
    padding: var(--spacing10) var(--spacing12);
    display: revert;
}

.subTab-dvlEN {
    padding-inline: calc(var(--spacing12) + var(--spacing8));
}

.heading-BlZIu[class] {
    -webkit-border-after: 1px solid var(--grey15);
            border-block-end: 1px solid var(--grey15);
    -webkit-border-after: 1px solid var(--border-primary, var(--grey15));
            border-block-end: 1px solid var(--border-primary, var(--grey15));
    -webkit-margin-after: 0.75rem;
            margin-block-end: 0.75rem;
    padding: var(--spacing4);
}

.heading-BlZIu[class]:not(:first-child) {
        -webkit-margin-before: var(--spacing24);
                margin-block-start: var(--spacing24)
    }

/* Print View */

.printView-xtQMn div {
        color: var(--text120);
        color: var(--text-primary, var(--text120));
    }

.printView-xtQMn .cancelSubmitButtons-HytzJ {
        -webkit-margin-before: var(--spacing16);
                margin-block-start: var(--spacing16);
    }

.printView-xtQMn .cancelSubmitButtons-HytzJ button {
            -webkit-margin-start: var(--spacing16);
                    margin-inline-start: var(--spacing16);
        }

/* Download View */

.downloadLink-Bzfm4 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: var(--sans);
    font-size: 1rem;
    -webkit-padding-after: 2rem;
            padding-block-end: 2rem;
    color: var(--black);
    color: var(--text-primary, var(--black));
}

.downloadLink-Bzfm4:hover {
        cursor: pointer;
        text-decoration: none;
        color: var(--info40);
        color: var(--text-link, var(--info40));
    }

.downloadLink-Bzfm4 svg:hover {
        text-decoration: none;
        color: var(--info40);
        color: var(--text-link, var(--info40));
    }

/* Found in other Views */

.cancelSubmitButtons-HytzJ {
    display: flex;
    justify-content: flex-end;
    -webkit-margin-before: var(--spacing24);
            margin-block-start: var(--spacing24);
}

.cancelSubmitButtons-HytzJ button {
        -webkit-margin-start: var(--spacing8);
                margin-inline-start: var(--spacing8);
        font-size: var(--fontSize14);
    }

/* Display Options */

.displayOptions-g2Jr5[class][class] {
    padding: var(--spacing24);
}

.circleButtons-ufyQr {
    align-items: flex-start;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: space-between;
}

.circleButtons-ufyQr button {
        background-color: var(--grey2);
        background-color: var(--background-primary, var(--grey2));
        border-color: var(--blue20);
        border-color: var(--accent, var(--blue20));
    }

.circleButtons-ufyQr button:hover {
            background-color: var(--grey3);
            background-color: var(--background-secondary-accent, var(--grey3));
        }

.circleButtons-ufyQr :first-child {
        display: flex;
        justify-content: flex-start;
    }

.circleButtons-ufyQr > :not(:first-child):not(:last-child) {
        display: flex;
        justify-content: center;
    }

.circleButtons-ufyQr :last-child {
        display: flex;
        justify-content: flex-end;
    }

.circleButtons-ufyQr svg {
        background-color: var(--grey2);
        background-color: var(--background-primary, var(--grey2));
        border-radius: 50%;
        color: var(--blue30);
        color: var(--accent, var(--blue30));
        position: absolute;
        inset-block-start: 1.7539061903rem;
        inset-inline-start: 1.7656249403rem;
    }

.toggleOption-xr7qr[class] {
    width: 100%;
    display: block;
    -webkit-padding-start: 0;
            padding-inline-start: 0;
}

.text4-kakct {
    -webkit-padding-before: var(--spacing24);
            padding-block-start: var(--spacing24);
    -webkit-padding-after: var(--spacing10);
            padding-block-end: var(--spacing10);
}

.fontRangeInput-i0wYX {
    margin-block: var(--spacing12);
}

.fontResizeButtons-HLrJK {
    display: flex;
    justify-content: space-between;
    margin-block: var(--spacing4);
}

.fontResizeButtons-HLrJK .fontPlusMinusButtons-F6xBB {
        width: 2.5rem;
        height: 2rem;
        padding: 0;
        min-height: 2rem;
        max-height: 2rem;
    }

.fontResizeButtons-HLrJK .fontPlusMinusButtons-F6xBB:disabled {
            padding: 0;
        }

.fontSizeControls-RKyK3 input {
        background: linear-gradient( to right, var(--blue30) 0%,var(--blue30) var(--lower-range-percentage),var(--white) var(--lower-range-percentage),var(--white) 100% );
        background: linear-gradient( to right, var(--accent, var(--blue30)) 0%,var(--accent, var(--blue30)) var(--lower-range-percentage),var(--background-primary, var(--white)) var(--lower-range-percentage),var(--background-primary, var(--white)) 100% );
        --unity-accent-color-primary: var(--accent, var(--blue30));
        border-image: linear-gradient( to right, var(--blue30) 0%,var(--blue30) var(--lower-range-percentage),var(--grey30) var(--lower-range-percentage),var(--grey30) 100% ) 0.5;
        border-image: linear-gradient( to right, var(--accent, var(--blue30)) 0%,var(--accent, var(--blue30)) var(--lower-range-percentage),var(--border-primary, var(--grey30)) var(--lower-range-percentage),var(--border-primary, var(--grey30)) 100% ) 0.5;
        border-width: 1px;
        border-style: solid;
    }

.smallCharatersExample-pF4Lo {
    font-size: var(--fontSize14);
    font-family: var(--sans)
}

.largeCharatersExample-j5b7X {
    font-size: var(--fontSize30);
    font-family: var(--sans);
    font-weight: var(--fontWeightLight);
}

.fontSansSerif-zi14F {
    font-family: var(--sans);
    font-size: var(--fontSize30);
    font-weight: var(--fontWeightLight);
}

.fontSerif-vNC3I {
    font-family: var(--serif);
    font-size: var(--fontSize30);
}

.fontSelectionArea-qvawP {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    line-height: 1;
    -webkit-padding-before: var(--spacing16);
            padding-block-start: var(--spacing16);
}

/* Bandwidth View */

.bandwidthToggleMenuLabel-p5J_I[class] {
    -webkit-padding-after: var(--spacing4);
            padding-block-end: var(--spacing4);
}

.bandwidthToggleMenuLabel-p5J_I[class] div:not(:first-child) div {

        font-weight: 400;
        color: var(--grey40);
        color: var(--text-secondary, var(--grey40));
    }

.bandwidthToggleMenuLabel-p5J_I[class] > :first-child > :first-child {
        font-weight: 600;
        -webkit-padding-after: var(--spacing8);
                padding-block-end: var(--spacing8);
    }

.toggleOption-Zcyf9[class] {
    gap: 0;
}
.toggleOption-Zcyf9[class] div {
        font-weight: 400;
    }
.toggleOption-Zcyf9[class] button.toggle-zjlfs[aria-pressed="true"] {
        background-color: var(--blue25);
        background-color: var(--accent, var(--blue25));
        color: var(--blue25);
        color: var(--accent, var(--blue25));
    }
.toggleOption-Zcyf9[class] button.toggle-zjlfs[class]:hover {
        background-color: var(--grey30);
    }
.toggleOption-Zcyf9[class] button.toggle-zjlfs[aria-pressed="true"][class]:hover {
        background-color: var(--blue25);
        background-color: var(--accent, var(--blue25));
    }
.menuLabel-A5h02 {
    -webkit-margin-after: var(--spacing16);
            margin-block-end: var(--spacing16);
}
.menuLabel-A5h02 > div {
        align-items: center;
        display: flex;
        justify-content: space-between;
        width: 100%;
    }
.menuLabel-A5h02 > div div {
            -webkit-hyphens: auto;
                    hyphens: auto;
            word-break: break-word;
        }
.menuLabel-A5h02 > div span.children-Ut_1c {
            align-items: center;
            display: flex;
            height: var(--spacing16);
            justify-content: center;
            min-width: var(--spacing32);
        }
.menuLabel-A5h02 > div span.children-Ut_1c button:hover {
                background-color: var(--grey5);
                background-color: var(--button-icon-background-hover, var(--grey5));
            }
.menuLabel-A5h02.disabled-Nf2xc div {
        color: var(--grey15);
        color: var(--button-icon-color-disabled, var(--grey15));
    }
.printOptions-IzHHk {
    padding-block: var(--spacing8);
    position: relative;
}

.printButtons-wsxZG {
    display: flex;
    justify-content: flex-end;
    -webkit-padding-after: var(--spacing8);
            padding-block-end: var(--spacing8);
}

.printButtons-wsxZG button {
        margin-inline: var(--spacing8);
    }

.themeCircle-hoQJC {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: solid 1px var(--grey10);
    border: solid 1px var(--border-primary, var(--grey10));
    background-color: var(--white);
    background-color: var(--background-primary, var(--white));
    color: var(--black);
    color: var(--text-primary, var(--black));
    position: relative;
}

.themeCircle-hoQJC div {
        position: absolute;
        bottom: 0.3rem;
        inset-inline-start: 0.4rem;
    }

.largeCircleButton-u2KU6 {
    color: var(--black);
    color: var(--text-primary, var(--black));
    font-size: var(--fontSize14);
    background-color: var(--white);
    background-color: var(--background-primary, var(--white));
    border: none;
    padding: var(--spacing4);
    border-radius: var(--spacing4);
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.largeCircleButton-u2KU6 svg {
        background-color: var(--grey2);
        background-color: var(--background-primary, var(--grey2));
        border-radius: 50%;
        color: var(--blue30);
        color: var(--accent, var(--blue30));
        position: absolute;
        inset-block-start: 1.7539061903rem;
        inset-inline-start: 1.7656249403rem;
    }

.circleCheckMarkIcon-l78Zw {
    background-color: var(--grey2);
    background-color: var(--background-primary, var(--grey2));
    border-radius: 50%;
    color: var(--blue30);
    color: var(--accent, var(--blue30));
    position: absolute;
    inset-block-start: 1.7539061903rem;
    inset-inline-start: 1.7656249403rem;
}


/*# sourceMappingURL=options-panel.123c98806b0cb37d639d.css.map*/